### importing necessary libraries & reading the data

In [4]:
import pandas as pd 
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('HouseData.csv') 
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,"1,495,000",4,3.25,3070,10375,2.0,No,No View,Average,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,"1,495,000",4,3.75,3770,4000,2.5,No,No View,Very Good,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,"1,490,000",4,2.50,2420,18480,1.0,No,No View,Good,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,"1,490,000",3,3.50,4560,14608,2.0,No,Average,Average,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,"1,490,000",5,3.50,3620,7821,2.0,No,Average,Average,10,1958,98040,47.5738,-122.215

### Exploaring the data 
#### checking for nan values and dublicated values

In [7]:
df.isna().sum()

id             0
date           0
price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
waterfront     0
view           0
condition      0
grade          0
yr_built       0
zipcode        0
lat            0
long           0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21060 non-null  int64
 1   date         21060 non-null  object
 2   price        21060 non-null  object
 3   bedrooms     21060 non-null  int64
 4   bathrooms    21060 non-null  float64
 5   sqft_living  21060 non-null  int64
 6   sqft_lot     21060 non-null  int64
 7   floors       21060 non-null  float64
 8   waterfront   21060 non-null  object
 9   view         21060 non-null  object
 10  condition    21060 non-null  object
 11  grade        21060 non-null  int64
 12  yr_built     21060 non-null  int64
 13  zipcode      21060 non-null  int64
 14  lat          21060 non-null  float64
 15  long         21060 non-null  float64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.6+ MB

In [10]:
df.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,grade,yr_built,zipcode,lat,long
count,2.106000e+04,21060.000000,21060.000000,21060.000000,2.106000e+04,21060.000000,21060.000000,21060.000000,21060.000000,21060.000000,21060.000000
mean,4.591327e+09,3.343162,2.077991,2019.486942,1.474301e+04,1.484924,7.590123,1970.919943,98078.383761,47.558542,-122.213544
std,2.877902e+09,0.882395,0.729351,822.018441,3.995697e+04,0.538113,1.095947,29.265667,53.406460,0.139776,0.141789
min,1.000102e+06,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,1900.000000,98001.000000,47.155900,-122.519000
25%,2.125057e+09,3.000000,1.500000,1410.000000,5.001000e+03,1.000000,7.000000,1951.000000,98033.000000,47.465700,-122.330000
50%,3.905030e+09,3.000000,2.250000,1890.000000,7.553500e+03,1.000000,7.000000,1975.000000,98065.000000,47.569200,-122.231000
75%,7.334500e+09,4.000000,2.500000,2490.000000,1.045400e+04,2.000000,8.000000,1996.000000,98118.000000,47.678925,-122.123000
max,9.900000e+09,7.000000,6.750000,7480.000000,1.651359e+06,3.500000,12.000000,2015.000000,98199.000000,47.777600,-121.315000

### fixing the format and data type for some features

In [13]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%dT%H%M%S')

In [16]:
df['price'] = df['price'].str.replace(',','').astype(int)

In [19]:
df['bathrooms'] = df['bathrooms'].round().astype(int)

In [20]:
df['floors'] = df['floors'].round().astype(int)

In [21]:
df['id'].nunique()

20887

In [23]:
df.duplicated().sum()

0

In [24]:
df.isna().sum()

id             0
date           0
price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
waterfront     0
view           0
condition      0
grade          0
yr_built       0
zipcode        0
lat            0
long           0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21060 entries, 0 to 21059
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21060 non-null  int64
 1   date         21060 non-null  datetime64[ns]
 2   price        21060 non-null  int32
 3   bedrooms     21060 non-null  int64
 4   bathrooms    21060 non-null  int32
 5   sqft_living  21060 non-null  int64
 6   sqft_lot     21060 non-null  int64
 7   floors       21060 non-null  int32
 8   waterfront   21060 non-null  object
 9   view         21060 non-null  object
 10  condition    21060 non-null  object
 11  grade        21060 non-null  int64
 12  yr_built     21060 non-null  int64
 13  zipcode      21060 non-null  int64
 14  lat          21060 non-null  float64
 15  long         21060 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(3), int64(7), object(3)
memory usage: 2.3+ MB

### saving the data to csv file

In [27]:
df.drop(columns=['id']).to_csv('finall_house_data.csv')